In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
cpi_data = pd.read_csv(Path("../Resources/CPI_data_2012_2022.csv"))

cpi_data.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,HALF1,HALF2
0,2012,226.665,227.663,229.392,230.085,229.815,229.478,229.104,230.379,231.407,231.317,230.221,229.601,228.850,230.338
1,2013,230.280,232.166,232.773,232.531,232.945,233.504,233.596,233.877,234.149,233.546,233.069,233.049,232.366,233.548
2,2014,233.916,234.781,236.293,237.072,237.900,238.343,238.250,237.852,238.031,237.433,236.151,234.812,236.384,237.088
3,2015,233.707,234.722,236.119,236.599,237.805,238.638,238.654,238.316,237.945,237.838,237.336,236.525,236.265,237.769
4,2016,236.916,237.111,238.132,239.261,240.229,241.018,240.628,240.849,241.428,241.729,241.353,241.432,238.778,241.237

In [3]:
cpi_data = cpi_data.melt

cpi_data

<bound method DataFrame.melt of     Year      Jan      Feb      Mar      Apr      May      Jun      Jul  \
0   2012  226.665  227.663  229.392  230.085  229.815  229.478  229.104
1   2013  230.280  232.166  232.773  232.531  232.945  233.504  233.596
2   2014  233.916  234.781  236.293  237.072  237.900  238.343  238.250
3   2015  233.707  234.722  236.119  236.599  237.805  238.638  238.654
4   2016  236.916  237.111  238.132  239.261  240.229  241.018  240.628
5   2017  242.839  243.603  243.801  244.524  244.733  244.955  244.786
6   2018  247.867  248.991  249.554  250.546  251.588  251.989  252.006
7   2019  251.712  252.776  254.202  255.548  256.092  256.143  256.571
8   2020  257.971  258.678  258.115  256.389  256.394  257.797  259.101
9   2021  261.582  263.014  264.877  267.054  269.195  271.696  273.003
10  2022  281.148  283.716  287.504  289.109  292.296  296.311  296.276

        Aug      Sep      Oct      Nov      Dec    HALF1    HALF2
0   230.379  231.407  231.317  230.221  229.601  228.850  230.338
1   233.877  234.149  233.546  233.069  233.049  232.366  233.548
2   237.852  238.031  237.433  236.151  234.812  236.384  237.088
3   238.316  237.945  237.838  237.336  236.525  236.265  237.769
4   240.849  241.428  241.729  241.353  241.432  238.778  241.237
5   245.519  246.819  246.663  246.669  246.524  244.076  246.163
6   252.146  252.439  252.885  252.038  251.233  250.089  252.125
7   256.558  256.759  257.346  257.208  256.974  254.412  256.903
8   259.918  260.280  260.388  260.229  260.474  257.557  260.065
9   273.567  274.310  276.589  277.948  278.802  266.236  275.703
10  296.171  296.808      NaN      NaN      NaN  288.347      NaN  >