In [1]:
# Import the required modules
import pandas as pd
import numpy as np
from pathlib import Path
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression

In [2]:
# Read in the transaction_fraud_data.csv file into a PandasDataFrame.
ten_year_data = pd.read_csv("../Project_Two/Resources/treasury_yield_10yr.csv")

# Review the DataFrame
ten_year_data.head(10)

         Date   Open   High    Low  Close  Adj Close  Volume
0  2017-10-31  2.370  2.379  2.369  2.376      2.376     0.0
1  2017-11-01  2.398  2.401  2.349  2.376      2.376     0.0
2  2017-11-02  2.363  2.370  2.336  2.347      2.347     0.0
3  2017-11-03  2.351  2.361  2.324  2.343      2.343     0.0
4  2017-11-05    NaN    NaN    NaN    NaN        NaN     NaN
5  2017-11-06  2.325  2.333  2.315  2.320      2.320     0.0
6  2017-11-07  2.327  2.329  2.304  2.307      2.307     0.0
7  2017-11-08  2.315  2.327  2.306  2.325      2.325     0.0
8  2017-11-09  2.333  2.345  2.315  2.331      2.331     0.0
9  2017-11-10  2.368  2.406  2.366  2.400      2.400     0.0

In [3]:
ten_year_data = ten_year_data.drop(columns=["Open", "High", "Low", "Close", "Volume"])

ten_year_data.head()

         Date  Adj Close
0  2017-10-31      2.376
1  2017-11-01      2.376
2  2017-11-02      2.347
3  2017-11-03      2.343
4  2017-11-05        NaN

In [4]:
ten_year_data = ten_year_data.dropna()

ten_year_data.head()

         Date  Adj Close
0  2017-10-31      2.376
1  2017-11-01      2.376
2  2017-11-02      2.347
3  2017-11-03      2.343
5  2017-11-06      2.320

In [5]:
lags = 5

for i in range(0, lags):
	ten_year_data['Lag_' + str(i+1)] = ten_year_data['Adj Close'].shift(i+1)

ten_year_data['Returns'] = ten_year_data['Adj Close'].pct_change()

ten_year_data.head()

         Date  Adj Close  Lag_1  Lag_2  Lag_3  Lag_4  Lag_5   Returns
0  2017-10-31      2.376    NaN    NaN    NaN    NaN    NaN       NaN
1  2017-11-01      2.376  2.376    NaN    NaN    NaN    NaN  0.000000
2  2017-11-02      2.347  2.376  2.376    NaN    NaN    NaN -0.012205
3  2017-11-03      2.343  2.347  2.376  2.376    NaN    NaN -0.001704
5  2017-11-06      2.320  2.343  2.347  2.376  2.376    NaN -0.009816

In [32]:
# create the lagged percentage returns coluns
for i in range(0, lags):
	ten_year_data['Lag_' + str(i+1)] = ten_year_data["Lag_" + str(i+1)].pct_change()
	ten_year_data.fillna(0, inplace=True)
    
ten_year_data.head(10)

,Date,Adj Close,Lag_1,Lag_2,Lag_3,Lag_4,Lag_5,Returns,Direction
0,2017-10-31,2.376,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1,2017-11-01,2.376,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2,2017-11-02,2.347,0.000000,inf,0.000000,0.000000,0.000000,-0.012205,-1.0
3,2017-11-03,2.343,-inf,-1.000000,inf,0.000000,0.000000,-0.001704,-1.0
5,2017-11-06,2.320,-1.000000,-inf,-1.000000,inf,0.000000,-0.009816,-1.0
6,2017-11-07,2.307,5.532324,-1.000000,-inf,-1.000000,inf,-0.005603,-1.0
7,2017-11-08,2.325,-0.833112,5.532324,-1.000000,-inf,-1.000000,0.007802,1.0
8,2017-11-09,2.331,-5.196057,-0.833112,5.532324,-1.000000,-inf,0.002581,1.0
9,2017-11-10,2.400,-1.157455,-5.196057,-0.833112,5.532324,-1.000000,0.029601,1.0
11,2017-11-13,2.400,22.109660,-1.157455,-5.196057,-0.833112,5.532324,0.000000,0.0

In [45]:
# convert returns to the sign of direction
ten_year_data['Direction'] = np.sign(ten_year_data['Returns'])

ten_year_data = ten_year_data.dropna()
ten_year_data = ten_year_data.drop(ten_year_data.index[0:5])

##remove rows with any values that are not finite
#ten_year_data = ten_year_data[np.isfinite(ten_year_data).all(1)]

ten_year_data

,Date,Adj Close,Lag_1,Lag_2,Lag_3,Lag_4,Lag_5,Returns,Direction
6,2017-11-07,2.307,5.532324,-1.000000,-inf,-1.000000,inf,-0.005603,-1.0
7,2017-11-08,2.325,-0.833112,5.532324,-1.000000,-inf,-1.000000,0.007802,1.0
8,2017-11-09,2.331,-5.196057,-0.833112,5.532324,-1.000000,-inf,0.002581,1.0
9,2017-11-10,2.400,-1.157455,-5.196057,-0.833112,5.532324,-1.000000,0.029601,1.0
11,2017-11-13,2.400,22.109660,-1.157455,-5.196057,-0.833112,5.532324,0.000000,0.0
...,...,...,...,...,...,...,...,...,...
1518,2022-10-24,4.234,-4.502007,-2.009518,-0.747341,-1.521329,5.874014,0.004985,1.0
1519,2022-10-25,4.108,-0.610766,-4.502007,-2.009518,-0.747341,-1.521329,-0.029759,-1.0
1520,2022-10-26,4.015,0.255183,-0.610766,-4.502007,-2.009518,-0.747341,-0.022639,-1.0
1521,2022-10-27,3.937,-1.581723,0.255183,-0.610766,-4.502007,-2.009518,-0.019427,-1.0
1522,2022-10-28,4.010,-0.578439,-1.581723,0.255183,-0.610766,-4.502007,0.018542,1.0

In [46]:
X = ten_year_data[["Lag_1", "Lag_2"]]
y = ten_year_data["Direction"]

## Split into training and testing windows
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

start_text = pd.Timestamp("2021-01-01")

X_train = X[X.index < start_test]
X_test = X[X.index >= start_test]
y_train = y[y.index < start_test]
y_test = y[y.index >= start_test]

In [47]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

/Users/warrendenetsosie/opt/anaconda3/envs/dev/lib/python3.7/site-packages/numpy/core/fromnumeric.py:86: RuntimeWarning: invalid value encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').